*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    margin-top: 5em;
    background-color: goldenrod;
}
img{
    border: 8px solid gray;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.con{
    margin-top: 10px;
    color: white;
    font-size: 3em;
}
.con h3{
    color: blueviolet;
}